In [3]:
import numpy as np
import pandas as pd

# pd.DataFrame.drop

### API:

```python
pd.DataFrame.drop(labels = None,
                  axis = 0,
                  index = None,
                  columns = None,
                  level = None,    # 多层索引
                  inplace = False,
                  errors = "raise")
```

### 用法:

* 删除 DataFrame 的行
    - (`lables = ["index"]`, `axis = 0`) or (`axis = "index"`)
    - 指定 `index = ["row_index"]`
* 删除 DataFrame 的列
    - (`lables = ["column_label"]`, `axis = 1`) or (`axis = "columns"`)
    - 指定 `columns = ["column_name"]`


### 其他相似 API

* `pd.DataFrame.loc()`
* `pd.DataFrame.dropna()`
* `pd.DataFrame.drop_duplicates()`
* `pd.Series.drop()`

### 使用示例

In [4]:
# data
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns = ['A', 'B', 'C', "D"])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

#### (1) 删除列:

In [7]:
df.drop(labels = ['B', 'C'], axis = 1)

   A   D
0  0   3
1  4   7
2  8  11

In [8]:
df.drop(columns = ['B', 'C'])

   A   D
0  0   3
1  4   7
2  8  11

#### (2) 删除行:

In [9]:
df.drop(labels = [0, 1], axis = 0)

   A  B   C   D
2  8  9  10  11

In [10]:
df.drop(index = [0, 1])

   A  B   C   D
2  8  9  10  11

#### (3) 删除 MultiIndex DataFrame 的 columns and/or rows

In [12]:
midx = pd.MultiIndex(levels = [['lama', 'cow', 'falcon'], 
                               ['speed', 'weight', 'length']],
                     codes = [[0, 0, 0, 1, 1, 1, 2, 2, 2],
                              [0, 1, 2, 0, 1, 2, 0, 1, 2]])
df = pd.DataFrame(index = midx, 
                  columns = ["big", "small"],
                  data = [[45, 30],
                          [200, 100],
                          [1.5, 1],
                          [30, 20],
                          [250, 150],
                          [1.5, 0.8], 
                          [320, 250],
                          [1, 0.8],
                          [0.3, 0.2]])
df

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       weight    1.0    0.8
       length    0.3    0.2

In [13]:
df.drop(index = 'cow', columns = "small")

                 big
lama   speed    45.0
       weight  200.0
       length    1.5
falcon speed   320.0
       weight    1.0
       length    0.3

In [14]:
df.drop(index = "length", level = 1)

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
cow    speed    30.0   20.0
       weight  250.0  150.0
falcon speed   320.0  250.0
       weight    1.0    0.8