In [15]:
import numpy as np

In [20]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
print([s.capitalize() for s in data])
print([s.lower() for s in data])
print([s.upper() for s in data])

['Peter', 'Paul', 'Mary', 'Guido']
['peter', 'paul', 'mary', 'guido']
['PETER', 'PAUL', 'MARY', 'GUIDO']

data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
[s.capitalize() for s in data]

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-21-3b0264c38d59> in <module>()
      1 data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
----> 2 [s.capitalize() for s in data]

<ipython-input-21-3b0264c38d59> in <listcomp>(.0)
      1 data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
----> 2 [s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

## str属性：Pandas字符串方法列表

| 方法  | 描述 |
| ----- | ----- |
|len()|
|lower()|
|translate()|
|islower()|
|ljust()|
|upper()|
|startswith()|
|isupper()|
|rjust()|
|find()|
|endswith()|
|isnumeric()|
|center()|
|rfind()|
|isalnum()|
|isdecimal()|
|zfill()|
|index()|
|isalpha()|
|split()|
|strip()|
|rindex()|
|isdigit()|
|rsplit()|
|rstrip()|
|capitalize()|
|isspace()|
|partition()|
|lstrip()|
|swapcase()|
|istitle()|
|rpartition()|
|get()| 获取元素索引位置上的值，索引从 0 开始
|slice()| 对元素进行切片取值
|slice_replace()| 对元素进行切片替换
|cat()| 连接字符串（此功能比较复杂，建议阅读文档）
|repeat()| 重复元素
|normalize()| 将字符串转换为 Unicode 规范形式
|pad()| 在字符串的左边、右边或两边增加空格
|wrap()| 将字符串按照指定的宽度换行
|join()| 用分隔符连接 Series 的每个元素
|get_dummies()| 按照分隔符提取每个元素的 dummy 变量，转换为独热（one-hot）编码的 DataFrame

In [22]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [23]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [24]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [30]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [31]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [32]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [33]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

## str属性：正则表达式方法

|方法|描述|
|----|----|
|match() |对每个元素调用 re.match()，返回布尔类型值|
|extract() |对每个元素调用 re.match()，返回匹配的字符串组（groups）|
|findall() |对每个元素调用 re.findall()|
|replace() |用正则模式替换字符串|
|contains() |对每个元素调用 re.search()，返回布尔类型值|
|count() |计算符合正则模式的字符串的数量|
|split() |等价于 str.split()，支持正则表达式|
|rsplit() |等价于 str.rsplit()，支持正则表达式|

In [37]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [40]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object