In [1]:
import pandas as pd

### 获取和设置选项

#### `pd.get_option()`, `pd.set_option())`

In [10]:
pd.get_option('mode.sim_interactive')

False

In [12]:
pd.set_option('mode.sim_interactive', True)
pd.get_option('mode.sim_interactive')

True

#### `pd.reset_option("regex")`

In [15]:
pd.get_option('display.max_rows')

999

In [16]:
pd.set_option('display.max_rows', 999)

In [17]:
pd.get_option('display.max_rows')

999

In [18]:
pd.reset_option('display.max_rows')

In [19]:
pd.get_option('display.max_rows')

60

In [20]:
pd.reset_option('^display')

#### `pd.option_context()`

In [23]:
with pd.option_context('display.max_rows', 10, 'display.max_columns', 5):
    print(pd.get_option('display.max_rows'))
    print(pd.get_option('display.max_columns'))

10
5

### 在Python，IPython环境中设置开始选项配置

In [24]:
# startup/01.py
import pandas as pd
pd.set_option('display.max_rows', 999)
pd.set_option('precision', 5)

### 常用选项

* display.max_rows
* display.max_columns
* display.expand_frame_repr

In [27]:
import numpy as np
df = pd.DataFrame(np.random.randn(7, 2))
pd.set_option('max_rows', 7)
df

         0        1
0 -0.94654  1.84023
1  0.73832  0.32721
2  0.39149 -0.27293
3 -1.19163  0.65912
4  0.14472 -1.65645
5 -0.09900  2.07030
6 -0.44689 -0.87072

In [30]:
pd.set_option('display.max_rows', 5)
df

          0        1
0  -0.94654  1.84023
1   0.73832  0.32721
..      ...      ...
5  -0.09900  2.07030
6  -0.44689 -0.87072

[7 rows x 2 columns]

In [31]:
pd.reset_option('max_rows')

In [32]:
df = pd.DataFrame(np.random.randn(5, 10))
df

,0,1,2,3,4,5,6,7,8,9
0,2.39931,-1.23260,0.89286,-1.68144,-0.16518,-0.62590,1.30248,1.21471,0.18985,-0.04642
1,-2.23447,1.40555,-1.98587,1.36817,-1.05612,0.13431,-0.06293,0.29252,-1.13548,-0.20761
2,0.46129,-0.98899,0.53789,-0.81180,-1.61431,-0.28389,1.04829,-1.13585,-0.03234,-1.64850
3,0.57031,0.87322,0.65957,-0.92043,0.74952,-2.38305,0.08594,-0.50057,-0.00964,0.87714
4,1.14877,2.00962,-0.14966,-0.46520,0.31858,-0.30415,-1.22176,-1.97865,0.55651,-1.65729

In [33]:
pd.set_option('expand_frame_repr', True)
df

,0,1,2,3,4,5,6,7,8,9
0,2.39931,-1.23260,0.89286,-1.68144,-0.16518,-0.62590,1.30248,1.21471,0.18985,-0.04642
1,-2.23447,1.40555,-1.98587,1.36817,-1.05612,0.13431,-0.06293,0.29252,-1.13548,-0.20761
2,0.46129,-0.98899,0.53789,-0.81180,-1.61431,-0.28389,1.04829,-1.13585,-0.03234,-1.64850
3,0.57031,0.87322,0.65957,-0.92043,0.74952,-2.38305,0.08594,-0.50057,-0.00964,0.87714
4,1.14877,2.00962,-0.14966,-0.46520,0.31858,-0.30415,-1.22176,-1.97865,0.55651,-1.65729

In [34]:
pd.set_option('expand_frame_repr', False)
df

         0        1        2        3        4        5        6        7        8        9
0  2.39931 -1.23260  0.89286 -1.68144 -0.16518 -0.62590  1.30248  1.21471  0.18985 -0.04642
1 -2.23447  1.40555 -1.98587  1.36817 -1.05612  0.13431 -0.06293  0.29252 -1.13548 -0.20761
2  0.46129 -0.98899  0.53789 -0.81180 -1.61431 -0.28389  1.04829 -1.13585 -0.03234 -1.64850
3  0.57031  0.87322  0.65957 -0.92043  0.74952 -2.38305  0.08594 -0.50057 -0.00964  0.87714
4  1.14877  2.00962 -0.14966 -0.46520  0.31858 -0.30415 -1.22176 -1.97865  0.55651 -1.65729

### 数值格式

In [45]:
# pd.set_eng_float_format(accuracy = 3, use_eng_prefix = True)
s = pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])
s

a    828.230m
b   -541.834m
c   -608.697m
d   -665.585m
e   -672.355m
dtype: float64

### Unicode格式

In [35]:
df = pd.DataFrame({
    u'国籍': ['UK', u'日本'],
    u'名前': ['Alice', u'しのぶ']
})
df

   国籍     名前
0  UK  Alice
1  日本    しのぶ

In [39]:
pd.set_option('display.unicode.east_asian_width', True)
df

         0        1        2        3        4        5        6        7        8        9
0  1.03429 -2.22756 -0.77855  0.25733 -1.46201 -0.23125  0.29549  0.73011  1.61367  1.42382
1 -0.56386  0.77184  0.31729 -0.84906  0.39430 -1.32526  0.23840  1.52852 -1.74139 -0.12702
2 -1.23211  0.56856  0.61118  0.45622 -0.07628  0.28988 -0.17529 -0.55353 -0.97294 -0.45341
3 -0.24214 -0.28304 -0.97895 -0.01161  0.81376  0.88812  0.95266  0.67667  1.08988  0.85558
4  0.22752  0.64130 -0.06262 -0.84955 -1.28266 -0.80341 -0.33395 -0.15440  0.01987  1.19953

In [41]:
df = pd.DataFrame({
    'a': ['xxx', u'¡¡'], 
    'b': ['yyy', u'¡¡']
})
df

     a    b
0  xxx  yyy
1   ¡¡   ¡¡

In [43]:
pd.set_option('display.unicode.east_asian_width', True)
pd.set_option('display.unicode.ambiguous_as_wide', True)
df

      a     b
0   xxx   yyy
1  ¡¡  ¡¡

### 表模式

In [37]:
df = pd.DataFrame(np.random.randn(5, 10))
df

         0        1        2        3        4        5        6        7        8        9
0  1.03429 -2.22756 -0.77855  0.25733 -1.46201 -0.23125  0.29549  0.73011  1.61367  1.42382
1 -0.56386  0.77184  0.31729 -0.84906  0.39430 -1.32526  0.23840  1.52852 -1.74139 -0.12702
2 -1.23211  0.56856  0.61118  0.45622 -0.07628  0.28988 -0.17529 -0.55353 -0.97294 -0.45341
3 -0.24214 -0.28304 -0.97895 -0.01161  0.81376  0.88812  0.95266  0.67667  1.08988  0.85558
4  0.22752  0.64130 -0.06262 -0.84955 -1.28266 -0.80341 -0.33395 -0.15440  0.01987  1.19953

In [38]:
pd.set_option('display.html.table_schema', True)
df

         0        1        2        3        4        5        6        7        8        9
0  1.03429 -2.22756 -0.77855  0.25733 -1.46201 -0.23125  0.29549  0.73011  1.61367  1.42382
1 -0.56386  0.77184  0.31729 -0.84906  0.39430 -1.32526  0.23840  1.52852 -1.74139 -0.12702
2 -1.23211  0.56856  0.61118  0.45622 -0.07628  0.28988 -0.17529 -0.55353 -0.97294 -0.45341
3 -0.24214 -0.28304 -0.97895 -0.01161  0.81376  0.88812  0.95266  0.67667  1.08988  0.85558
4  0.22752  0.64130 -0.06262 -0.84955 -1.28266 -0.80341 -0.33395 -0.15440  0.01987  1.19953