# Pandas 4 time related concepts:

* date times
* time deltas
* time spans
* date offset


|Concept|Scalar Class|Array Class|pandas Data Type|Primary Creation Method|
|-------|------------|-----------|----------------|------------------------|
|Date time|Timestamp|DatetimeIndex|datetime64[ns], datetime64[ns,tz]|to_datetime(),date_range()|
|Time deltas|Timedelta|TimedeltaIndex|timedelta64[ns]|to_timedelta(),timedelta_range()|
|Time spans|Period|PeriodIndex|period[freq]|Period(),period_range()|
|Date offset|DateOffset|None|None|DateOffset|

In [1]:
import datetime
import numpy as np
import pandas as pd
# import scikits.timeseries

### 1.[FUN] `pd.to_datetime()`

In [2]:
dti = pd.to_datetime(['1/1/2018', 
                      np.datetime64('2018-01-01'), 
                      datetime.datetime(2018, 1, 1)])
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

### 2.[FUN] `pd.date_range()`

In [3]:
dti = pd.date_range('2018-01-01', periods = 10, freq = 'H')
dti

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

### 3.[FUN] `to_localize("")`

In [10]:
dti = dti.tz_localize('UTC')
dti

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

### 4.[FUN] `.tz_convert("")`

In [13]:
dti.tz_convert('US/Pacific')

DatetimeIndex(['2017-12-31 16:00:00-08:00', '2017-12-31 17:00:00-08:00',
               '2017-12-31 18:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='H')

### 5.[FUN] `.resample()`

In [7]:
idx = pd.date_range("2019-01-01", periods = 6, freq = "H")
ts = pd.Series(range(len(idx)), index = idx)
print(ts)

2019-01-01 00:00:00    0
2019-01-01 01:00:00    1
2019-01-01 02:00:00    2
2019-01-01 03:00:00    3
2019-01-01 04:00:00    4
2019-01-01 05:00:00    5
Freq: H, dtype: int64

In [10]:
ts.resample("2H").mean()

2019-01-01 00:00:00    0.5
2019-01-01 02:00:00    2.5
2019-01-01 04:00:00    4.5
Freq: 2H, dtype: float64

### 6.[FUN] `pd.Timestamp()`, `.day_name()`, `pd.Timedelta()`

In [16]:
friday = pd.Timestamp("2019-08-23")
print(friday.day_name())
stariday = friday + pd.Timedelta("1 day")
print(stariday.day_name())
monday = friday + pd.offsets.BDay()
print(monday.day_name())

Friday
Saturday
Monday

### 7.[FUN] `pd.period_range()`

In [17]:
ps = pd.Series(pd.period_range("1/1/2011", freq = "M", periods  =3))
print(ps)

0   2011-01
1   2011-02
2   2011-03
dtype: object

### 8.[FUN] `pd.DateOffset()`

In [18]:
ps = pd.Series([pd.DateOffset(1), 
                pd.DateOffset(2)])
print(ps)

0         <DateOffset>
1    <2 * DateOffsets>
dtype: object

### 9.pd.NaT

In [19]:
print(pd.Timestamp(pd.NaT))
print(pd.Timedelta(pd.NaT))
print(pd.Period(pd.NaT))
print(pd.NaT == pd.NaT)

NaT
NaT
NaT
False

## 1.Timestamps vs. Time Spans

### 1.1 pd.Timestamp()

In [22]:
dti1 = pd.Timestamp("2019-08-20")
print(dti1)
dti2 = pd.Timestamp(datetime.datetime(2019, 8, 20))
print(dti2)
dti3 = pd.Timestamp(2019, 8, 20)
print(dti3)

2019-08-20 00:00:00
2019-08-20 00:00:00
2019-08-20 00:00:00

In [23]:
pd.Timestamp("2019-08-20")

Timestamp('2019-08-20 00:00:00')

In [24]:
pd.Timestamp(datetime.datetime(2019, 8, 20))

Timestamp('2019-08-20 00:00:00')

In [25]:
pd.Timestamp(2019, 8, 20)

Timestamp('2019-08-20 00:00:00')

### 1.2 pd.Period('', freq)

In [26]:
pd.Period('2019-08')

Period('2019-08', 'M')

In [27]:
pd.Period('2019-08', freq = 'D')

Period('2019-08-01', 'D')

### 1.3 Timestamp-DatetimeIndex vs Period-PeriodIndex

In [31]:
dates = [pd.Timestamp('2012-05-01'), 
         pd.Timestamp('2012-05-02'), 
         pd.Timestamp('2012-05-03')]
ts = pd.Series(np.random.randn(3),
               index = dates)
print(ts.index)
print('-' * 30)
print(ts)

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)
------------------------------
2012-05-01    0.080688
2012-05-02   -0.858467
2012-05-03    0.627360
dtype: float64

In [36]:
dt = [pd.Period("2019-09"), pd.Period("2019-08"), pd.Period("2019-07")]
ts = pd.Series(np.random.randn(3),
               index = dt)
print(ts.index)
print("-" * 30)
print(ts)

PeriodIndex(['2019-09', '2019-08', '2019-07'], dtype='period[M]', freq='M')
------------------------------
2019-09    0.285477
2019-08   -1.268847
2019-07   -1.155963
Freq: M, dtype: float64